<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

# Data Cleaning

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime, date
from sklearn.cluster import KMeans

## Order Dataset

In [3]:
order_df = pd.read_csv('olist_orders_dataset.csv')
order_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
order_id                         99441 non-null object
customer_id                      99441 non-null object
order_status                     99441 non-null object
order_purchase_timestamp         99441 non-null object
order_approved_at                99281 non-null object
order_delivered_carrier_date     97658 non-null object
order_delivered_customer_date    96476 non-null object
order_estimated_delivery_date    99441 non-null object
dtypes: object(8)
memory usage: 6.1+ MB

In [4]:
order_df[order_df.duplicated()]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [5]:
order_df.drop(['order_status',
               'order_delivered_carrier_date',
               'order_approved_at',
               'order_purchase_timestamp'], axis='columns', inplace=True)
#for column in ['order_purchase_timestamp', 'order_delivered_customer_date', 'order_estimated_delivery_date']:
#    order_df[column] = pd.to_datetime(order_df[column])
#order_df.info()

for column in ['order_delivered_customer_date', 'order_estimated_delivery_date']:
    order_df[column] = pd.to_datetime(order_df[column])
order_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
order_id                         99441 non-null object
customer_id                      99441 non-null object
order_delivered_customer_date    96476 non-null datetime64[ns]
order_estimated_delivery_date    99441 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 3.0+ MB

In [6]:
order_df.head()

,order_id,customer_id,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-16 18:17:02,2018-02-26

## Payment Dataset

In [7]:
payment_df = pd.read_csv('olist_order_payments_dataset.csv')
payment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
order_id                103886 non-null object
payment_sequential      103886 non-null int64
payment_type            103886 non-null object
payment_installments    103886 non-null int64
payment_value           103886 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [8]:
payment_df[payment_df.duplicated()]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [9]:
payment_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [10]:
payment_df.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [11]:
payment_df.nunique()

order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

## Customer Dataset

In [12]:
customer_df = pd.read_csv('olist_customers_dataset.csv')
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
customer_id                 99441 non-null object
customer_unique_id          99441 non-null object
customer_zip_code_prefix    99441 non-null int64
customer_city               99441 non-null object
customer_state              99441 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [13]:
customer_df[customer_df.duplicated()]

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [14]:
customer_df.drop(['customer_zip_code_prefix', 'customer_city'], axis='columns', inplace=True)

In [15]:
customer_df.nunique()

customer_id           99441
customer_unique_id    96096
customer_state           27
dtype: int64

In [16]:
customer_df.head()

,customer_id,customer_unique_id,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,SP

## Item Dataset

In [17]:
item_df = pd.read_csv('olist_order_items_dataset.csv')

In [18]:
item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
order_id               112650 non-null object
order_item_id          112650 non-null int64
product_id             112650 non-null object
seller_id              112650 non-null object
shipping_limit_date    112650 non-null object
price                  112650 non-null float64
freight_value          112650 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [19]:
item_df[item_df.duplicated()]

Empty DataFrame
Columns: [order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

In [20]:
'''
item_df.drop(['seller_id',
              'shipping_limit_date',
              'price',
              'freight_value',
              'order_item_id'], axis='columns', inplace=True)
item_df.columns
'''

"\nitem_df.drop(['seller_id',\n              'shipping_limit_date',\n              'price',\n              'freight_value',\n              'order_item_id'], axis='columns', inplace=True)\nitem_df.columns\n"

In [21]:
item_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

## Product Dataset

In [22]:
product_df = pd.read_csv('olist_products_dataset.csv')

In [23]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
product_id                    32951 non-null object
product_category_name         32341 non-null object
product_name_lenght           32341 non-null float64
product_description_lenght    32341 non-null float64
product_photos_qty            32341 non-null float64
product_weight_g              32949 non-null float64
product_length_cm             32949 non-null float64
product_height_cm             32949 non-null float64
product_width_cm              32949 non-null float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [24]:
product_df[product_df.duplicated()]

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

In [25]:
'''
product_df.drop(['product_name_lenght',
                 'product_description_lenght', 
                 'product_photos_qty', 
                 'product_weight_g',
                 'product_length_cm',
                 'product_height_cm',
                 'product_width_cm'], axis='columns', inplace=True)
'''

"\nproduct_df.drop(['product_name_lenght',\n                 'product_description_lenght', \n                 'product_photos_qty', \n                 'product_weight_g',\n                 'product_length_cm',\n                 'product_height_cm',\n                 'product_width_cm'], axis='columns', inplace=True)\n"

In [26]:
product_df.fillna(product_df.median(), inplace=True)
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
product_id                    32951 non-null object
product_category_name         32341 non-null object
product_name_lenght           32951 non-null float64
product_description_lenght    32951 non-null float64
product_photos_qty            32951 non-null float64
product_weight_g              32951 non-null float64
product_length_cm             32951 non-null float64
product_height_cm             32951 non-null float64
product_width_cm              32951 non-null float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [27]:
product_df.fillna('other', inplace=True)
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
product_id                    32951 non-null object
product_category_name         32951 non-null object
product_name_lenght           32951 non-null float64
product_description_lenght    32951 non-null float64
product_photos_qty            32951 non-null float64
product_weight_g              32951 non-null float64
product_length_cm             32951 non-null float64
product_height_cm             32951 non-null float64
product_width_cm              32951 non-null float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [28]:
product_df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [29]:
product_df.product_category_name.nunique()

74

## Translation Dataset

In [30]:
translation_df = pd.read_csv('product_category_name_translation.csv')
translation_df.info()
translation_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
product_category_name            71 non-null object
product_category_name_english    71 non-null object
dtypes: object(2)
memory usage: 1.2+ KB

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

## Review Dataset

In [31]:
review_df = pd.read_csv('olist_order_reviews_dataset.csv')
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
review_id                  100000 non-null object
order_id                   100000 non-null object
review_score               100000 non-null int64
review_comment_title       11715 non-null object
review_comment_message     41753 non-null object
review_creation_date       100000 non-null object
review_answer_timestamp    100000 non-null object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [32]:
review_df[review_df.duplicated()]

Empty DataFrame
Columns: [review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp]
Index: []

In [33]:
review_df.drop(['review_id', 'review_creation_date', 'review_answer_timestamp'], axis='columns', inplace=True)
review_df.columns

Index(['order_id', 'review_score', 'review_comment_title',
       'review_comment_message'],
      dtype='object')

In [34]:
for columns in ['review_comment_title', 'review_comment_message']:
    # replace present values with 1
    review_df.loc[review_df[columns].notnull(), columns] = 1
    # replace null values with 0
    review_df.loc[review_df[columns].isna(), columns] = 0
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
order_id                  100000 non-null object
review_score              100000 non-null int64
review_comment_title      100000 non-null int64
review_comment_message    100000 non-null int64
dtypes: int64(3), object(1)
memory usage: 3.1+ MB

In [35]:
review_df.head()

,order_id,review_score,review_comment_title,review_comment_message
0,73fc7af87114b39712e6da79b0a377eb,4,0,0
1,a548910a1c6147796b98fdf73dbeba33,5,0,0
2,f9e4b658b201a9f2ecdecbb34bed034b,5,0,0
3,658677c97b385a9be170737859d3511b,5,0,1
4,8e6bfb81e283fa7e4f11123a3fb894f1,5,0,1

In [36]:
review_df.nunique()

order_id                  99441
review_score                  5
review_comment_title          2
review_comment_message        2
dtype: int64

In [37]:
review_df.review_score.value_counts(normalize=True)

5    0.57420
4    0.19200
1    0.11858
3    0.08287
2    0.03235
Name: review_score, dtype: float64

## Seller Dataset

In [38]:
seller_df = pd.read_csv('olist_sellers_dataset.csv')
seller_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
seller_id                 3095 non-null object
seller_zip_code_prefix    3095 non-null int64
seller_city               3095 non-null object
seller_state              3095 non-null object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [39]:
seller_df.drop(['seller_zip_code_prefix', 'seller_city'], axis='columns', inplace=True)
seller_df.columns

Index(['seller_id', 'seller_state'], dtype='object')

# Exploratory Data Analytics with Raw Data

In [40]:
ro_df = pd.merge(review_df, order_df, how='left', on='order_id')
ro_df.info()
ro_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 7 columns):
order_id                         100000 non-null object
review_score                     100000 non-null int64
review_comment_title             100000 non-null int64
review_comment_message           100000 non-null int64
customer_id                      100000 non-null object
order_delivered_customer_date    97013 non-null datetime64[ns]
order_estimated_delivery_date    100000 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(2)
memory usage: 6.1+ MB

,order_id,review_score,review_comment_title,review_comment_message,customer_id,order_delivered_customer_date,order_estimated_delivery_date
0,73fc7af87114b39712e6da79b0a377eb,4,0,0,41dcb106f807e993532d446263290104,2018-01-17 18:42:41,2018-02-02
1,a548910a1c6147796b98fdf73dbeba33,5,0,0,8a2e7ef9053dea531e4dc76bd6d853e6,2018-03-09 23:17:20,2018-03-14
2,f9e4b658b201a9f2ecdecbb34bed034b,5,0,0,e226dfed6544df5b7b87a48208690feb,2018-02-16 17:28:48,2018-03-09
3,658677c97b385a9be170737859d3511b,5,0,1,de6dff97e5f1ba84a3cd9a3bc97df5f6,2017-04-20 09:08:35,2017-05-10
4,8e6bfb81e283fa7e4f11123a3fb894f1,5,0,1,5986b333ca0d44534a156a52a8e33a83,2018-02-28 16:33:35,2018-03-09

In [41]:
roc_df = pd.merge(ro_df, customer_df, how='left', on='customer_id')
roc_df.drop(['customer_id', 'customer_unique_id'], axis='columns', inplace=True)
roc_df.info()
roc_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 7 columns):
order_id                         100000 non-null object
review_score                     100000 non-null int64
review_comment_title             100000 non-null int64
review_comment_message           100000 non-null int64
order_delivered_customer_date    97013 non-null datetime64[ns]
order_estimated_delivery_date    100000 non-null datetime64[ns]
customer_state                   100000 non-null object
dtypes: datetime64[ns](2), int64(3), object(2)
memory usage: 6.1+ MB

,order_id,review_score,review_comment_title,review_comment_message,order_delivered_customer_date,order_estimated_delivery_date,customer_state
0,73fc7af87114b39712e6da79b0a377eb,4,0,0,2018-01-17 18:42:41,2018-02-02,SP
1,a548910a1c6147796b98fdf73dbeba33,5,0,0,2018-03-09 23:17:20,2018-03-14,SP
2,f9e4b658b201a9f2ecdecbb34bed034b,5,0,0,2018-02-16 17:28:48,2018-03-09,BA
3,658677c97b385a9be170737859d3511b,5,0,1,2017-04-20 09:08:35,2017-05-10,SC
4,8e6bfb81e283fa7e4f11123a3fb894f1,5,0,1,2018-02-28 16:33:35,2018-03-09,SC

In [42]:
rocp_df = pd.merge(roc_df, payment_df, on='order_id')
rocp_df.drop('payment_sequential', axis='columns', inplace=True)
rocp_df.info()
rocp_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104485 entries, 0 to 104484
Data columns (total 10 columns):
order_id                         104485 non-null object
review_score                     104485 non-null int64
review_comment_title             104485 non-null int64
review_comment_message           104485 non-null int64
order_delivered_customer_date    101331 non-null datetime64[ns]
order_estimated_delivery_date    104485 non-null datetime64[ns]
customer_state                   104485 non-null object
payment_type                     104485 non-null object
payment_installments             104485 non-null int64
payment_value                    104485 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(3)
memory usage: 8.8+ MB

,order_id,review_score,review_comment_title,review_comment_message,order_delivered_customer_date,order_estimated_delivery_date,customer_state,payment_type,payment_installments,payment_value
0,73fc7af87114b39712e6da79b0a377eb,4,0,0,2018-01-17 18:42:41,2018-02-02,SP,credit_card,8,397.26
1,a548910a1c6147796b98fdf73dbeba33,5,0,0,2018-03-09 23:17:20,2018-03-14,SP,credit_card,1,88.09
2,f9e4b658b201a9f2ecdecbb34bed034b,5,0,0,2018-02-16 17:28:48,2018-03-09,BA,credit_card,1,194.12
3,658677c97b385a9be170737859d3511b,5,0,1,2017-04-20 09:08:35,2017-05-10,SC,credit_card,1,222.84
4,8e6bfb81e283fa7e4f11123a3fb894f1,5,0,1,2018-02-28 16:33:35,2018-03-09,SC,credit_card,10,1333.25

In [43]:
rocpi_df = pd.merge(rocp_df, item_df, on='order_id')
rocpi_df.drop(['order_id', 'shipping_limit_date', 'order_item_id'], axis='columns', inplace=True)
rocpi_df.info()
rocpi_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Data columns (total 13 columns):
review_score                     118315 non-null int64
review_comment_title             118315 non-null int64
review_comment_message           118315 non-null int64
order_delivered_customer_date    115727 non-null datetime64[ns]
order_estimated_delivery_date    118315 non-null datetime64[ns]
customer_state                   118315 non-null object
payment_type                     118315 non-null object
payment_installments             118315 non-null int64
payment_value                    118315 non-null float64
product_id                       118315 non-null object
seller_id                        118315 non-null object
price                            118315 non-null float64
freight_value                    118315 non-null float64
dtypes: datetime64[ns](2), float64(3), int64(4), object(4)
memory usage: 12.6+ MB

,review_score,review_comment_title,review_comment_message,order_delivered_customer_date,order_estimated_delivery_date,customer_state,payment_type,payment_installments,payment_value,product_id,seller_id,price,freight_value
0,4,0,0,2018-01-17 18:42:41,2018-02-02,SP,credit_card,8,397.26,fd25ab760bfbba13c198fa3b4f1a0cd3,6d803cb79cc31c41c4c789a75933b3c7,185.00,13.63
1,4,0,0,2018-01-17 18:42:41,2018-02-02,SP,credit_card,8,397.26,fd25ab760bfbba13c198fa3b4f1a0cd3,6d803cb79cc31c41c4c789a75933b3c7,185.00,13.63
2,5,0,0,2018-03-09 23:17:20,2018-03-14,SP,credit_card,1,88.09,be0dbdc3d67d55727a65d4cd696ca73c,8e6d7754bc7e0f22c96d255ebda59eba,79.79,8.30
3,5,0,0,2018-02-16 17:28:48,2018-03-09,BA,credit_card,1,194.12,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,149.00,45.12
4,5,0,1,2017-04-20 09:08:35,2017-05-10,SC,credit_card,1,222.84,52c80cedd4e90108bf4fa6a206ef6b03,a1043bafd471dff536d0c462352beb48,179.99,42.85

In [44]:
rocpip_df = pd.merge(rocpi_df, product_df, on='product_id')
rocpip_df.drop('product_id', axis='columns', inplace=True)
rocpip_df.info()
rocpip_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Data columns (total 20 columns):
review_score                     118315 non-null int64
review_comment_title             118315 non-null int64
review_comment_message           118315 non-null int64
order_delivered_customer_date    115727 non-null datetime64[ns]
order_estimated_delivery_date    118315 non-null datetime64[ns]
customer_state                   118315 non-null object
payment_type                     118315 non-null object
payment_installments             118315 non-null int64
payment_value                    118315 non-null float64
seller_id                        118315 non-null object
price                            118315 non-null float64
freight_value                    118315 non-null float64
product_category_name            118315 non-null object
product_name_lenght              118315 non-null float64
product_description_lenght       118315 non-null float64
product_photos_qty               118315 non-null float64
product_weight_g                 118315 non-null float64
product_length_cm                118315 non-null float64
product_height_cm                118315 non-null float64
product_width_cm                 118315 non-null float64
dtypes: datetime64[ns](2), float64(10), int64(4), object(4)
memory usage: 19.0+ MB

,review_score,review_comment_title,review_comment_message,order_delivered_customer_date,order_estimated_delivery_date,customer_state,payment_type,payment_installments,payment_value,seller_id,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,4,0,0,2018-01-17 18:42:41,2018-02-02,SP,credit_card,8,397.26,6d803cb79cc31c41c4c789a75933b3c7,185.00,13.63,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0
1,4,0,0,2018-01-17 18:42:41,2018-02-02,SP,credit_card,8,397.26,6d803cb79cc31c41c4c789a75933b3c7,185.00,13.63,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0
2,5,0,0,2018-04-09 21:53:23,2018-04-27,RS,credit_card,3,205.26,6d803cb79cc31c41c4c789a75933b3c7,185.00,20.26,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0
3,5,0,0,2017-12-27 18:19:53,2018-01-08,MG,credit_card,2,202.05,6d803cb79cc31c41c4c789a75933b3c7,185.00,17.05,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0
4,5,0,0,2018-03-09 23:17:20,2018-03-14,SP,credit_card,1,88.09,8e6d7754bc7e0f22c96d255ebda59eba,79.79,8.30,informatica_acessorios,47.0,493.0,1.0,245.0,19.0,14.0,14.0

In [45]:
rocpips_df = pd.merge(rocpip_df, seller_df, on='seller_id')
rocpips_df.drop('seller_id', axis='columns', inplace=True)
rocpips_df.info()
rocpips_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Data columns (total 20 columns):
review_score                     118315 non-null int64
review_comment_title             118315 non-null int64
review_comment_message           118315 non-null int64
order_delivered_customer_date    115727 non-null datetime64[ns]
order_estimated_delivery_date    118315 non-null datetime64[ns]
customer_state                   118315 non-null object
payment_type                     118315 non-null object
payment_installments             118315 non-null int64
payment_value                    118315 non-null float64
price                            118315 non-null float64
freight_value                    118315 non-null float64
product_category_name            118315 non-null object
product_name_lenght              118315 non-null float64
product_description_lenght       118315 non-null float64
product_photos_qty               118315 non-null float64
product_weight_g                 118315 non-null float64
product_length_cm                118315 non-null float64
product_height_cm                118315 non-null float64
product_width_cm                 118315 non-null float64
seller_state                     118315 non-null object
dtypes: datetime64[ns](2), float64(10), int64(4), object(4)
memory usage: 19.0+ MB

,review_score,review_comment_title,review_comment_message,order_delivered_customer_date,order_estimated_delivery_date,customer_state,payment_type,payment_installments,payment_value,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_state
0,4,0,0,2018-01-17 18:42:41,2018-02-02,SP,credit_card,8,397.26,185.0,13.63,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,SP
1,4,0,0,2018-01-17 18:42:41,2018-02-02,SP,credit_card,8,397.26,185.0,13.63,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,SP
2,5,0,0,2018-04-09 21:53:23,2018-04-27,RS,credit_card,3,205.26,185.0,20.26,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,SP
3,5,0,0,2017-12-27 18:19:53,2018-01-08,MG,credit_card,2,202.05,185.0,17.05,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,SP
4,5,0,0,2018-03-16 14:16:19,2018-03-23,MG,credit_card,1,306.40,135.0,18.20,esporte_lazer,47.0,858.0,1.0,1600.0,30.0,30.0,35.0,SP

## Feature Engineering

In [50]:
rocpips_df['delay'] = (rocpips_df.order_delivered_customer_date - rocpips_df.order_estimated_delivery_date).dt.days
rocpips_df.drop(['order_delivered_customer_date', 'order_estimated_delivery_date'], axis='columns', inplace=True)
rocpips_df.fillna(rocpips_df.median(), inplace=True)

In [51]:
rocpips_df

,review_score,review_comment_title,review_comment_message,customer_state,payment_type,payment_installments,payment_value,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_state,delay
0,4,0,0,SP,credit_card,8,397.26,185.0,13.63,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,SP,-16.0
1,4,0,0,SP,credit_card,8,397.26,185.0,13.63,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,SP,-16.0
2,5,0,0,RS,credit_card,3,205.26,185.0,20.26,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,SP,-18.0
3,5,0,0,MG,credit_card,2,202.05,185.0,17.05,esporte_lazer,42.0,858.0,1.0,1300.0,30.0,30.0,35.0,SP,-12.0
4,5,0,0,MG,credit_card,1,306.40,135.0,18.20,esporte_lazer,47.0,858.0,1.0,1600.0,30.0,30.0,35.0,SP,-7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118310,4,1,1,MG,credit_card,1,108.63,89.9,18.73,moveis_decoracao,50.0,1141.0,2.0,450.0,16.0,16.0,16.0,SP,-14.0
118311,5,0,0,GO,credit_card,4,327.25,289.9,37.35,beleza_saude,47.0,696.0,1.0,692.0,15.0,12.0,14.0,PR,-15.0
118312,5,0,0,RJ,credit_card,2,98.34,79.9,18.44,sinalizacao_e_seguranca,36.0,609.0,2.0,575.0,45.0,21.0,23.0,SP,-14.0
118313,1,0,1,SP,credit_card,8,767.69,750.0,17.69,relogios_presentes,43.0,381.0,4.0,350.0,20.0,20.0,20.0,SP,-7.0
118314,5,0,0,RJ,credit_card,3,201.34,161.0,40.34,moveis_cozinha_area_de_servico_jantar_e_jardim,38.0,245.0,1.0,4000.0,31.0,42.0,43.0,PR,-24.0

## Linear Modeling

In [57]:
dummies_df = pd.get_dummies(rocpips_df)

In [58]:
dummies_df.info()
dummies_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118314
Columns: 143 entries, review_score to seller_state_SP
dtypes: float64(11), int64(4), uint8(128)
memory usage: 28.9 MB

,review_score,review_comment_title,review_comment_message,payment_installments,payment_value,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,...,seller_state_PE,seller_state_PI,seller_state_PR,seller_state_RJ,seller_state_RN,seller_state_RO,seller_state_RS,seller_state_SC,seller_state_SE,seller_state_SP
0,4,0,0,8,397.26,185.0,13.63,42.0,858.0,1.0,...,0,0,0,0,0,0,0,0,0,1
1,4,0,0,8,397.26,185.0,13.63,42.0,858.0,1.0,...,0,0,0,0,0,0,0,0,0,1
2,5,0,0,3,205.26,185.0,20.26,42.0,858.0,1.0,...,0,0,0,0,0,0,0,0,0,1
3,5,0,0,2,202.05,185.0,17.05,42.0,858.0,1.0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,0,1,306.40,135.0,18.20,47.0,858.0,1.0,...,0,0,0,0,0,0,0,0,0,1

In [60]:
target = dummies_df.review_score
df = dummies_df.drop('review_score', axis='columns')
df['review_score'] = target
df

,review_comment_title,review_comment_message,payment_installments,payment_value,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,...,seller_state_PI,seller_state_PR,seller_state_RJ,seller_state_RN,seller_state_RO,seller_state_RS,seller_state_SC,seller_state_SE,seller_state_SP,review_score
0,0,0,8,397.26,185.0,13.63,42.0,858.0,1.0,1300.0,...,0,0,0,0,0,0,0,0,1,4
1,0,0,8,397.26,185.0,13.63,42.0,858.0,1.0,1300.0,...,0,0,0,0,0,0,0,0,1,4
2,0,0,3,205.26,185.0,20.26,42.0,858.0,1.0,1300.0,...,0,0,0,0,0,0,0,0,1,5
3,0,0,2,202.05,185.0,17.05,42.0,858.0,1.0,1300.0,...,0,0,0,0,0,0,0,0,1,5
4,0,0,1,306.40,135.0,18.20,47.0,858.0,1.0,1600.0,...,0,0,0,0,0,0,0,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118310,1,1,1,108.63,89.9,18.73,50.0,1141.0,2.0,450.0,...,0,0,0,0,0,0,0,0,1,4
118311,0,0,4,327.25,289.9,37.35,47.0,696.0,1.0,692.0,...,0,1,0,0,0,0,0,0,0,5
118312,0,0,2,98.34,79.9,18.44,36.0,609.0,2.0,575.0,...,0,0,0,0,0,0,0,0,1,5
118313,0,1,8,767.69,750.0,17.69,43.0,381.0,4.0,350.0,...,0,0,0,0,0,0,0,0,1,1
118314,0,0,3,201.34,161.0,40.34,38.0,245.0,1.0,4000.0,...,0,1,0,0,0,0,0,0,0,5

In [64]:
from scipy import stats
corr_array=[]
for i in range(df.shape[1]-1):  
    corr_array.append([df.columns[i],
                       np.abs(stats.pearsonr(df[df.columns[i]], df[df.columns[-1]])[0]),
                       stats.pearsonr(df[df.columns[i]], df[df.columns[-1]])[0],
                       stats.pearsonr(df[df.columns[i]], df[df.columns[-1]])[1]])
    
corr_df = pd.DataFrame(corr_array, columns = ['feature', 'abs_corr', 'corr', 'p_value'])
corr_df.sort_values(by='abs_corr', ascending=False, inplace=True)
corr_df.reset_index(drop=True, inplace=True)
corr_df

,feature,abs_corr,corr,p_value
0,review_comment_message,0.292954,-0.292954,0.000000e+00
1,delay,0.217062,-0.217062,0.000000e+00
2,payment_value,0.084428,-0.084428,4.498171e-186
3,customer_state_RJ,0.061966,-0.061966,5.408486e-101
4,customer_state_SP,0.060270,0.060270,1.235189e-95
...,...,...,...,...
137,product_category_name_la_cuisine,0.000640,-0.000640,8.257624e-01
138,product_category_name_tablets_impressao_imagem,0.000609,0.000609,8.341371e-01
139,seller_state_PI,0.000495,0.000495,8.648774e-01
140,product_category_name_ferramentas_jardim,0.000463,-0.000463,8.735259e-01
141,product_category_name_market_place,0.000019,0.000019,9.947402e-01

In [56]:
corr_df.head(10)

                                      Info  abs_corr      corr        p_value
0                             review_score  1.000000  1.000000   0.000000e+00
1                   review_comment_message  0.292954 -0.292954   0.000000e+00
2                                    delay  0.217062 -0.217062   0.000000e+00
3                            payment_value  0.084428 -0.084428  4.498171e-186
4                        customer_state_RJ  0.061966 -0.061966  5.408486e-101
5                        customer_state_SP  0.060270  0.060270   1.235189e-95
6                     review_comment_title  0.051851 -0.051851   3.058029e-71
7  product_category_name_moveis_escritorio  0.044037 -0.044037   7.056635e-52
8                     payment_installments  0.043019 -0.043019   1.383960e-49
9                            freight_value  0.037346 -0.037346   8.577144e-38

In [65]:
df[df.columns[:-1]]

,review_comment_title,review_comment_message,payment_installments,payment_value,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,...,seller_state_PE,seller_state_PI,seller_state_PR,seller_state_RJ,seller_state_RN,seller_state_RO,seller_state_RS,seller_state_SC,seller_state_SE,seller_state_SP
0,0,0,8,397.26,185.0,13.63,42.0,858.0,1.0,1300.0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,8,397.26,185.0,13.63,42.0,858.0,1.0,1300.0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,3,205.26,185.0,20.26,42.0,858.0,1.0,1300.0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,2,202.05,185.0,17.05,42.0,858.0,1.0,1300.0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,306.40,135.0,18.20,47.0,858.0,1.0,1600.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118310,1,1,1,108.63,89.9,18.73,50.0,1141.0,2.0,450.0,...,0,0,0,0,0,0,0,0,0,1
118311,0,0,4,327.25,289.9,37.35,47.0,696.0,1.0,692.0,...,0,0,1,0,0,0,0,0,0,0
118312,0,0,2,98.34,79.9,18.44,36.0,609.0,2.0,575.0,...,0,0,0,0,0,0,0,0,0,1
118313,0,1,8,767.69,750.0,17.69,43.0,381.0,4.0,350.0,...,0,0,0,0,0,0,0,0,0,1
118314,0,0,3,201.34,161.0,40.34,38.0,245.0,1.0,4000.0,...,0,0,1,0,0,0,0,0,0,0

In [66]:
X = df[df.columns[:-1]]
y = df[df.columns[-1]]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# logistic regression 
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
print('Train Accuracy: ', lr.score(X_train, y_train))
print('Test Accuracy: ', lr.score(X_test, y_test))

Train Accuracy:  0.5809592499098449
Test Accuracy:  0.5876804489671726

In [67]:
import statsmodels.api as sm
X_withconstant = sm.add_constant(X)
logit = sm.Logit(y, X_withconstant).fit()
summary = logit.summary()
display(summary)

ValueError: endog must be in the unit interval.

## Review Dataset

In [ ]:
review_df = pd.read_csv('olist_order_reviews_dataset.csv')
review_df.info()

In [ ]:
review_df[review_df.duplicated()]

In [ ]:
review_df.drop(['review_id', 'review_creation_date', 'review_answer_timestamp'], axis='columns', inplace=True)
review_df.columns

In [ ]:
for columns in ['review_comment_title', 'review_comment_message']:
    # replace present values with 1
    review_df.loc[review_df[columns].notnull(), columns] = 1
    # replace null values with 0
    review_df.loc[review_df[columns].isna(), columns] = 0
review_df.info()

In [ ]:
review_df.head()

In [ ]:
review_df.nunique()

In [ ]:
plt.bar(payment_df.groupby('payment_type').sum().index, 
        payment_df.groupby('payment_type').sum()['payment_value']/payment_df.groupby('payment_type').count()['payment_value']);

In [ ]:
plt.scatter(payment_df.payment_installments, payment_df.payment_value);

In [ ]:
plt.hist(review_df.review_score);

In [ ]:
po_df = pd.merge(payment_df, order_df, how='left', on='order_id')
po_df.info()
po_df.head()

In [ ]:
poc_df = pd.merge(po_df, customer_df, how='left', on='customer_id')
poc_df.drop('customer_id', axis='columns', inplace=True)
poc_df.info()
poc_df.head()

In [ ]:
state_pay_series = poc_df.groupby('customer_state').sum()['payment_value']/poc_df.groupby('customer_state').count()['payment_value']
state_pay_series.sort_values(inplace=True, ascending=False)
plt.bar(state_pay_series.index, state_pay_series);

In [ ]:
poci_df = pd.merge(poc_df, item_df, how='right', on='order_id')
poci_df.info()

In [ ]:
poci_df.drop(poci_df[poci_df.payment_value.isnull()].index, axis='index', inplace=True)
poci_df.info()

In [ ]:
pocip_df = pd.merge(poci_df, product_df, how='left', on='product_id')
pocip_df.drop('product_id', axis='columns', inplace=True)
pocip_df.info()
pocip_df.head()

In [ ]:
#df = pd.merge(df, translation_df, how='left', on='product_category_name')
#df.drop('product_category_name', axis='columns', inplace=True)
#df.head()

In [ ]:
payment_by_category = pocip_df.groupby('product_category_name')['payment_value'].sum()
payment_by_category.sort_values(ascending=False, inplace=True)
plt.figure(figsize=(12,20))
plt.barh(payment_by_category.index, payment_by_category)

In [ ]:
pocipr_df = pd.merge(pocip_df, review_df, how='right', on='order_id')
pocipr_df.info()
pocipr_df.head()

In [ ]:
pocipr_df.drop(pocipr_df[pocipr_df.payment_value.isnull()].index, axis='index', inplace=True)
pocipr_df.info()

# Feature Engineering

In [ ]:
pocipr_df['purchase_date'] = pocipr_df['order_purchase_timestamp'].dt.date
pocipr_df['delay'] = (pocipr_df.order_delivered_customer_date - pocipr_df.order_estimated_delivery_date).dt.days
pocipr_df.drop(['order_purchase_timestamp', 'order_delivered_customer_date', 'order_estimated_delivery_date'], axis='columns', inplace=True)
pocipr_df.head()

In [ ]:
pocipr_df.info()

In [ ]:
pocipr_df.fillna(pocipr_df.median(), inplace=True)

In [ ]:
pocipr_df.info()

In [ ]:
plt.hist(pocipr_df.delay, bins=50);

In [ ]:
plt.scatter(pocipr_df.purchase_date, pocipr_df.delay);

In [ ]:
pocipr_df.head()

In [ ]:
pocipr_df1 = pocipr_df[(date(2016,10,1) <= pocipr_df.purchase_date) & (pocipr_df.purchase_date < date(2018,4,1))]
pocipr_df2 = pocipr_df[(date(2018,4,1) <= pocipr_df.purchase_date) & (pocipr_df.purchase_date < date(2018,10,1))]
pocipr_df2 = pocipr_df2[['customer_unique_id', 'payment_value']]

In [ ]:
pocipr_df1

In [ ]:
pocipr_df2

# Exploratory Data Analytics

In [ ]:
cust_pocipr_df1 = pocipr_df1.groupby('customer_unique_id').agg({'purchase_date': lambda x: min((max(pocipr_df1.purchase_date)-x).dt.days),  
                                                    'order_id': 'count',
                                                    'payment_value': 'sum',
                                                    'delay': 'mean',
                                                    'payment_installments': 'mean',
                                                    'review_score': 'mean',
                                                    'review_comment_title': 'mean',
                                                    'review_comment_message': 'mean',
                                           'payment_type': lambda x: x.value_counts().index[0],
                                           'product_category_name': lambda x: x.value_counts().index[0],
                                                'customer_state': lambda x: x.value_counts().index[0]})

In [ ]:
cust_pocipr_df1.columns = ['recency', 'frequency', 'monetary', 'delay', 'installments', 'review_score', 'comment_title', 'comment_message',
            'pop_payment_type', 'pop_category', 'customer_state']

cust_pocipr_df1

In [ ]:
cust_pocipr_df1.head()

In [ ]:
cust_pocipr_df1.to_csv('cust_pocipr_df1.csv', index=True);
#cust_pocipr_df1 = pd.read_csv('cust_pocipr_df1.csv', index_col=0)

In [ ]:
cust_pocipr_df1

In [ ]:
#cust_pocipr_df1['customer_state'] = pocipr_df1.groupby('customer_unique_id').agg({'customer_state': lambda x: x.value_counts().index[0]})
#cust_pocipr_df1

In [ ]:
#cust_pocipr_df1 = pd.merge(cust_pocipr_df1, customer_df.set_index('customer_unique_id')['customer_state'], how='left', left_index=True, right_index=True)
#cust_pocipr_df1

In [ ]:
cust_pocipr_df1

In [ ]:
feature_df = pd.get_dummies(cust_pocipr_df1)
feature_df

In [ ]:
target_df = pocipr_df2.groupby('customer_unique_id').agg({'payment_value':'sum'})
target_df

In [ ]:
df = pd.merge(feature_df, target_df, on='customer_unique_id')
df.info()
df.head()

In [ ]:
df = df.loc[:, (df != df.iloc[0]).any()]

## Corrlation Analysis

In [ ]:
from scipy import stats
corr_array=[]
for i in range(df.shape[1]-1):  
    corr_array.append([df.columns[i], 
    np.abs(stats.pearsonr(df[df.columns[i]], df.payment_value)[0]),
    stats.pearsonr(df[df.columns[i]], df.payment_value)[0],
    stats.pearsonr(df[df.columns[i]], df.payment_value)[1]])
    
    
    
corr_df = pd.DataFrame(corr_array, columns = ['Info', 'abs_corr', 'corr', 'p_value'])
corr_df.sort_values(by = 'abs_corr', ascending = False, inplace = True)
corr_df.reset_index(drop = True, inplace = True)
corr_df

In [ ]:
plt.scatter(df.monetary, df.payment_value)

In [ ]:
plt.scatter(df.frequency, df.payment_value)

In [ ]:
plt.scatter(df.installments, df.payment_value)

In [ ]:
plt.scatter(df.pop_category_relogios_presentes, df.payment_value)

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# logistic regression 
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
print('Train Accuracy: ', lr.score(X_train, y_train))
print('Test Accuracy: ', lr.score(X_test, y_test))

## Quartile-based

In [ ]:
df_q4 = df
df_q4.payment_value = pd.qcut(df_q4.payment_value, 4, labels=[1, 2, 3, 4])
df_q4

In [ ]:
from scipy import stats
corr_array=[]
for i in range(df_q4.shape[1]-1):  
    corr_array.append([df_q4.columns[i], 
    np.abs(stats.pearsonr(df_q4[df_q4.columns[i]], df_q4.payment_value)[0]),
    stats.pearsonr(df_q4[df_q4.columns[i]], df_q4.payment_value)[0],
    stats.pearsonr(df_q4[df_q4.columns[i]], df_q4.payment_value)[1]])
        
corr_df_q4 = pd.DataFrame(corr_array, columns = ['Info', 'abs_corr', 'corr', 'p_value'])
corr_df_q4.sort_values(by = 'abs_corr', ascending = False, inplace = True)
corr_df_q4.reset_index(drop = True, inplace = True)
corr_df_q4

## Binary

In [ ]:
df_q2 = df
df_q2.payment_value = pd.qcut(df_q2.payment_value, 2, labels=[0, 1])
df_q2

In [ ]:
from scipy import stats
corr_array=[]
for i in range(df_q2.shape[1]-1):  
    corr_array.append([df_q2.columns[i], 
    np.abs(stats.pearsonr(df_q2[df_q2.columns[i]], df_q2.payment_value)[0]),
    stats.pearsonr(df_q2[df_q2.columns[i]], df_q2.payment_value)[0],
    stats.pearsonr(df_q2[df_q2.columns[i]], df_q2.payment_value)[1]])
        
corr_df_q2 = pd.DataFrame(corr_array, columns = ['Info', 'abs_corr', 'corr', 'p_value'])
corr_df_q2.sort_values(by = 'abs_corr', ascending = False, inplace = True)
corr_df_q2.reset_index(drop = True, inplace = True)
corr_df_q2

In [ ]:
plt.scatter(common_customer_df.review_score, common_customer_df.payment_value)

In [ ]:
plt.scatter(common_cust.delay, common_cust.payment_value)

In [ ]:
boleto_series = common_cust.loc[common_cust.payment_type_boleto==1, 'payment_value']
credit_series = common_cust.loc[common_cust.payment_type_credit_card==1, 'payment_value']
debit_series = common_cust.loc[common_cust.payment_type_debit_card==1, 'payment_value']
voucher_series = common_cust.loc[common_cust.payment_type_voucher==1, 'payment_value']

type_dict = {}
type_dict['boleto'] = boleto_series.sum()/boleto_series.count()
type_dict['credit'] = credit_series.sum()/credit_series.count()
type_dict['debit'] = debit_series.sum()/debit_series.count()
type_dict['voucher'] = voucher_series.sum()/voucher_series.count()

type_dict

In [ ]:
X = common_cust.iloc[:,:-1]
y = common_cust.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# logistic regression 
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
print('Train Accuracy: ', lr.score(X_train, y_train))
print('Test Accuracy: ', lr.score(X_test, y_test))

from sklearn.model_selection import cross_val_score
print('CV Score:', np.mean(cross_val_score(lr, X_train, y_train, cv = 5)))

In [ ]:
rfm1_df = poc1_df.groupby('customer_unique_id').agg({'purchase_date':'max', 'order_id':'count', 'payment_value':'sum'})
rfm1_df.columns = ['recency', 'frequency', 'monetary']
rfm1_df

In [ ]:
rfm1_df.recency = rfm1_df.recency.apply(lambda x: (poc1_df.purchase_date.max()-x).days)
rfm1_df

In [ ]:
#rfm1_df = pd.read_csv('rfm3m.csv', index_col=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(rfm1_df)
X_scaled = scaler.transform(rfm1_df)
rfm1_km = KMeans(n_clusters=4).fit(X_scaled)

In [ ]:
plt.scatter(rfm1_df.recency, rfm1_df.monetary, c=rfm1_km.labels_)

In [ ]:
plt.scatter(rfm1_df.frequency, rfm1_df.monetary, c=rfm1_km.labels_)

In [ ]:
rfm2_df = poc2_df.groupby('customer_unique_id').agg({'purchase_date':'max', 'order_id':'count', 'payment_value':'sum'})
rfm2_df.columns = ['recency', 'frequency', 'monetary']
rfm2_df

In [ ]:
m2 = rfm2_df[['monetary']]

In [ ]:
clust1_df = pd.DataFrame()
clust1_df['customer_unique_id'] = rfm1_df.index
clust1_df['segment'] = rfm1_km.labels_
clust1_df

In [ ]:
common_cust = pd.merge(clust1_df, m2, on='customer_unique_id')
common_cust

In [ ]:
X = np.array(common_cust.segment).reshape(-1, 1)
y = common_cust.monetary

In [ ]:
plt.scatter(X, y)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(X_train, y_train)
print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

In [ ]:
lr.coef_

In [ ]:
rfm1_m2_df = pd.merge(rfm1_df, m2, left_index=True, right_index=True)
rfm1_m2_df

In [ ]:
plt.scatter(rfm1_m2_df.recency, rfm1_m2_df.monetary_y)

In [ ]:
plt.scatter(rfm1_m2_df.frequency, rfm1_m2_df.monetary_y)

In [ ]:
plt.scatter(rfm1_m2_df.monetary_x, rfm1_m2_df.monetary_y)

In [ ]:
X = rfm1_m2_df.iloc[:,:-1]
y = rfm1_m2_df.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# logistic regression 
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
print('Train Accuracy: ', lr.score(X_train, y_train))
print('Test Accuracy: ', lr.score(X_test, y_test))

In [ ]:
lr.coef_

In [ ]:
common_cust[['monetary']]

In [ ]:
m6m_km = KMeans(n_clusters=2)
m6m_km.fit(common_cust[['monetary']])
plt.scatter(common_cust.monetary, np.zeros([1,common_cust.shape[0]]), c=m6m_km.labels_)

In [ ]:
1-m6m_km.labels_.mean()

In [ ]:
plt.scatter(common_cust.rfm_clust_3m, m6m_km.labels_)

In [ ]:
from sklearn.linear_model import LogisticRegression 
clust_lr = LogisticRegression().fit(common_cust[['rfm_clust_3m']], m6m_km.labels_)

In [ ]:
clust_lr.score(common_cust[['rfm_clust_3m']], m6m_km.labels_)